@model Cinema_Website.Models.Event

@{
    ViewData["Title"] = "Details";

}
<hr />
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/SeatStyleSheet.css" />
    <title>Movie Seat Booking</title>
</head>
<dl class="row">
    <dt class="col-sm-2">
        Date:
    </dt>
    <dd class="col-sm-10">
        @Model.EventDateTime.Day / @Model.EventDateTime.Month / @Model.EventDateTime.Year
    </dd>
    <dt class="col-sm-2">
        Time:
    </dt>
    <dd class="col-sm-10">
        @Model.EventDateTime.Hour : @Model.EventDateTime.Minute @Model.EventDateTime.ToString("tt", System.Globalization.CultureInfo.InvariantCulture)
    </dd>
</dl>
<ul class="showcase">
    <li>
        <div class="seat"></div>
        <small>Available</small>
    </li>
    <li>
        <div class="seat selected"></div>
        <small>Selected</small>
    </li>
    <li>
        <div class="seat sold"></div>
        <small>Sold</small>
    </li>
</ul>
<hr />
<div class="container">
    <div class="screen"></div>
    <div class="card border-primary mb-3" style="max-width: 20rem; text-align: center; margin-left:400px; margin-bottom: 30px; margin-top: 30px; border-start-end-radius: 30px; border-end-start-radius: 30px ">

        <div class="card-body">
            <h4 class="card-title">cool</h4>

        </div>
    </div>
    <div class="row">
        @foreach (var item in Model.Tickets)
        {
            if (item.TicketType == Ticket.TicketTypes.cool)
            {



                if (item.IsSold == false)
                {
                    if (item.IsSelected == true)
                    {
                        <a class="seat selected"></a>
                    }
                    else
                    {
                        <a onscroll="cool" asp-controller="OrderTickets" asp-action="Create" asp-route-EventId="@item.EventId" asp-route-TicketId="@item.TicketId" class="seat"></a>
                    }

                }

                else
                {
                    <a class="seat sold"></a>
                }
            }
        }
    </div>
</div>

<div class="container">

    <div class="card border-primary mb-3" style="max-width: 20rem; text-align: center; margin-left:400px; margin-bottom: 30px; margin-top: 30px;border-start-end-radius:30px;border-end-start-radius:30px ">

        <div class="card-body">
            <h4 class="card-title">cool plus</h4>

        </div>
    </div>
    <div class="row">
        @foreach (var item in Model.Tickets)
        {
            if (item.TicketType == Ticket.TicketTypes.coolplus)
            {

                if (item.IsSold == false)
                {
                    if (item.IsSelected == true)
                    {
                        <a class="seat selected"></a>
                    }
                    else
                    {
                        <a onscroll="cool" asp-controller="OrderTickets" asp-action="Create" asp-route-EventId="@item.EventId" asp-route-TicketId="@item.TicketId" class="seat"></a>
                    }
                }
                else
                {
                    <a class="seat sold"></a>
                }
            }
        }
    </div>
</div>


<br />
<a asp-controller="Movies" asp-action="Details" asp-route-id="@Model.MovieId" class="btn btn-primary">
    Back
</a>
<a asp-controller="OrdersCarts" asp-action="Details" asp-route-id="@ViewBag.OrderId" class="btn btn-primary">
    Go To Cart
</a>







