@model IEnumerable<Cinema_Website.Models.Event>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New Event</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EventDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hall.HallNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie.MovieName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EventDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hall.HallNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Movie.MovieName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EventId" class="btn btn-primary btn-sm">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.EventId" class="btn btn-primary btn-sm">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.EventId" class="btn btn-primary btn-sm">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
