@model Cinema_Website.Models.OrdersCart

@{
    ViewData["Title"] = "Checkout";
}


<head>
    <link rel="stylesheet" href="~/css/ticketstylesheet.css" />
    <link rel="stylesheet" href="~/css/ReceiptSheet.css" />
</head>


<div class="card border-primary mb-3" style="max-width: 20rem;margin-left:380px;margin-top:30px;text-align:center">
    <div class="card-header text-light">Checkout</div>
</div>

@{

    double buynowprice = 0.0;
    double priceindollar = 0.0;

}


@foreach (var item in Model.OrderTickets)
{
    if (item.Ticket.IsSold == false)
    {
        <div class="cardWrap" style="line-height:0.4">
            <div class="card1 cardLeft">
                <h1>Z2A<span>Cinema</span></h1>
                <div class="title">
                    <h2>@item.Ticket.Event.Movie.MovieName</h2>
                    <span>movie</span>
                </div>
                <div class="name">
                    <h2>@UserManager.GetUserAsync(User).Result.FirstName</h2>
                    <span>name</span>
                </div>

                <div class="seat">
                    <h2>@item.Ticket.Event.Hall.HallNumber</h2>
                    <span>Hall</span>
                </div>
                <div class="time">
                    <h2>@item.Ticket.Event.EventDateTime</h2>
                    <span>time</span>
                </div>
                <div class="seat">
                    <h2>@item.Ticket.TicketType</h2>
                    <span>Ticket Type</span>
                </div>



            </div>
            <div class="card1 cardRight">
                <div class="eye"></div>
                <div class="number">
                    <h3>@item.Ticket.SeatNumber</h3>
                    <span>seat</span>
                </div>
                <a style="margin-top:24px ;margin-left:24px ; color : white; width:60px ;height:18px " type="submit" value="Delete" class="badge bg-primary" asp-controller="OrderTickets" asp-action="Delete2" asp-route-id="@item.OrderTicketId">Delete</a>
            </div>



        </div>

        buynowprice += item.Ticket.TicketPrice;

    }


}



<div id="invoice-POS" style="width:2000px ; margin-left:40px;margin-bottom:50px">

    <center id="top">
        <div class="logo"></div>
        <div class="info">

        </div><!--End Info-->
    </center><!--End InvoiceTop-->



    <div class="col-md-12">
        <div class="row">

            <div class="receipt-main col-xs-10 col-sm-10 col-md-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-3">
                <div class="row">
                    <div class="receipt-header">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="receipt-left">
                                <img class="img-responsive" alt="iamgurdeeposahan" src="https://bootdey.com/img/Content/avatar/avatar6.png" style="width: 71px; border-radius: 43px;">
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="receipt-header receipt-header-mid">
                        <div class="col-xs-8 col-sm-8 col-md-8 text-left">
                            <div class="receipt-right">
                                <h5 style="margin-left:17px">@UserManager.GetUserAsync(User).Result.FirstName</h5>

                            </div>
                        </div>

                    </div>
                </div>

                <div>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Seat number</th>
                                <th>price</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model.OrderTickets)
                            {
                                if (item.Ticket.IsSold == false)
                                {

                                    <tr>
                                        <td class="col-md-9">@item.Ticket.SeatNumber</td>
                                        <td class="col-md-3"><i class="fa fa-inr"></i>@item.Ticket.TicketPrice<span> JD</span></td>
                                    </tr>

                                }
                            }



                            <tr>

                                <td class="text-right"><h2><strong>Total: </strong></h2></td>
                                <td class="text-left text-danger"><h2><strong><i class="fa fa-inr"></i>@buynowprice<span> JD</span></strong></h2></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="row">
                    <div class="receipt-header receipt-header-mid receipt-footer">
                        <div class="col-xs-8 col-sm-8 col-md-8 text-left">
                            <div class="receipt-right">

                                <h5 style="color: rgb(140, 140, 140);">Thanks for shopping.!</h5>
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4">

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>




@{
    priceindollar = buynowprice * 1.41;
}

<div id="smart-button-container">
    <div style="text-align: center;">
        <div id="paypal-button-container"></div>
    </div>
</div>
<script src="https://www.paypal.com/sdk/js?client-id=AZeCuz-kuZ237yIbbHZIZBFoSeQUu71Pnptsmf56jlmIrHINtr8-JoSQCXo47tK4J8ChuPQSdQjfjpuq&enable-funding=venmo&currency=USD&disable-funding=credit,card&locale=en_JO" data-sdk-integration-source="button-factory"></script>
<script>
    function initPayPalButton() {
        paypal.Buttons({

            style: {

                shape: 'pill',
                color: 'gold',
                layout: 'vertical',
                label: 'buynow',

            },

            createOrder: function (data, actions) {
                return actions.order.create({
                    purchase_units: [{ "amount": { "currency_code": "USD", "value": @priceindollar } }]
                });
            },

            onApprove: function (data, actions) {
                return actions.order.capture().then(function (orderData) {

                    $.ajax({
                        url: "/OrdersCarts/SetIsSold",
                        type: "post",
                        data: { id:@Model.OrederId}
                    })


                    // Full available details
                    console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));

                    // Show a success message within this page, e.g.
                    const element = document.getElementById('paypal-button-container');
                    element.innerHTML = '';
                    element.innerHTML = '<h3>Thank you for your payment!</h3>';

                    // Or go to another URL:  actions.redirect('thank_you.html');
                    return "redirect:/Movies";




                });
            },

            onError: function (err) {
                console.log(err);

            }
        }).render('#paypal-button-container');
    }
    initPayPalButton();
</script>


