@model Cinema_Website.Models.OrdersCart
@using Microsoft.AspNetCore.Identity
@inject SignInManager<CinemaWebsiteUser> SignInManager
@inject UserManager<CinemaWebsiteUser> UserManager
@{
    ViewData["Title"] = "Details";
    int NumOfSeats = 0;
    double TotalCost = 0.0;
}

<head>
    <link rel="stylesheet" href="~/css/ticketstylesheet.css" />
    <link rel="stylesheet" href="~/css/StyleSheet1.css" />
</head>


<body>


    <br />
    <div class="card border-primary mb-3" style="max-width: 20rem;margin-left:380px;margin-top:30px;text-align:center">
        <div class="card-header text-light">Cart</div>
    </div>
    




    @foreach (var item in Model.OrderTickets)
    {
        if (item.Ticket.IsSold == false)
        {
        <div class="cardWrap" style="line-height:0.4">
            <div class="card1 cardLeft">
                <h1>Z2A<span>Cinema</span></h1>
                <div class="title">
                    <h2>@item.Ticket.Event.Movie.MovieName</h2>
                    <span>movie</span>
                </div>
                <div class="name">
                    <h2>@UserManager.GetUserAsync(User).Result.FirstName</h2>
                    <span>name</span>
                </div>

                <div class="seat">
                    <h2>@item.Ticket.Event.Hall.HallNumber</h2>
                    <span>Hall</span>
                </div>
                <div class="time">
                    <h2>@item.Ticket.Event.EventDateTime</h2>
                    <span>time</span>
                </div>
                <div class="seat">
                    <h2>@item.Ticket.TicketType</h2>
                    <span>Ticket Type</span>
                </div>



            </div>
            <div class="card1 cardRight">
                <div class="eye"></div>
                <div class="number">
                    <h3>@item.Ticket.SeatNumber</h3>
                    <span>seat</span>
                </div>
                <a style="margin-top:24px ;margin-left:24px ; color : white; width:60px ;height:18px " type="submit" value="Delete" class="badge bg-primary" asp-controller="OrderTickets" asp-action="Delete" asp-route-id="@item.OrderTicketId">Delete</a>
            </div>



        </div>
            NumOfSeats = NumOfSeats + 1;
            TotalCost = TotalCost + item.Ticket.TicketPrice;
        }
    }

<div class="card border-primary mb-3" style="max-width: 50rem; margin-left:160px">
    <div class="card-header">receipt</div>
    <div class="card-body">

        <h2 class="card-text text-light">you have selectet <span> @NumOfSeats</span> seat <br />for a price of <span> @TotalCost</span> Jd</h2>
    </div>
</div>

<div class="col-md-12 col-sm-12 col-xs-12 text-center">
    <a class="btn-lg btn-primary" asp-controller="OrdersCarts" asp-action="Checkout" asp-route-id="@Model.OrederId">Checkout</a>

</div>
</body>





