@model Cinema_Website.Models.Movie




@{
    ViewData["Title"] = "Details";
}
<head>
    <link rel="stylesheet" href="~/css/DetailsPage.css" />
    <link rel="stylesheet" href="~/css/StyleSheet1.css" />
</head>
<h1>Details</h1>



<div class="page-single movie-single" style="margin-top:0">
    <div class="container">
        <div class="row ipad-width2">
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="movie-img sticky-sb">
                    <img src="@Model.MovieImage" alt="">
                    <div class="movie-btn">
                        <div class="btn-transform transform-vertical red">
                            <div><a href="#" class="item item-1 redbtn"> <i class="ion-play"></i> Watch Trailer</a></div>
                            <div><a href="@Model.MovieTrailer" class="item item-2 redbtn fancybox-media hvr-grow"><i class="ion-play"></i></a></div>
                        </div>
                        <div class="btn-transform transform-vertical">
                            <div><a href="#" class="item item-1 yellowbtn"> <i class="ion-card"></i> Buy ticket</a></div>
                            <div><a href="#" class="item item-2 yellowbtn"><i class="ion-card"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="movie-single-ct main-content">
                    <h1 class="bd-hd">@Model.MovieName</h1>

                    <div class="movie-rate">
                        <div class="rate">
                            <i class="ion-android-star"></i>
                            <p>
                                <span>@Model.MovieRating</span> /10<br>
                            </p>
                        </div>

                    </div>
                    <div class="movie-tabs">
                        <div class="tabs">
                            <ul class="tab-links tabs-mv">
                                <li class="active"><a href="#overview">Overview</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="overview" class="tab active">
                                    <div class="row">
                                        <div class="col-md-8 col-sm-12 col-xs-12">
                                            <p>@Model.MovieDescription</p>







                                            <div class="col-md-4 col-xs-12 col-sm-12">





                                                <div class="sb-it">
                                                    <h6>Genres:</h6>
                                                    <p>@Model.Generes</p>
                                                </div>
                                                <div class="sb-it">
                                                    <h6>Release Date:</h6>
                                                    <p>@Model.ReleaseDate.Day / @Model.ReleaseDate.Month / @Model.ReleaseDate.Year</p>
                                                </div>
                                                <div class="sb-it">
                                                    <h6>Run Time:</h6>
                                                    <p>@Model.RunTime<span> min</span></p>
                                                </div>
                                                <div class="sb-it">
                                                    <h6>MMPA Rating:</h6>
                                                    <p>@Model.MMPARating</p>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <table class="table tbl-Cus table-hover">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Events.FirstOrDefault().EventDateTime)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Events.FirstOrDefault().HallId)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Events.FirstOrDefault().MovieId)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Events.FirstOrDefault().Movie.MovieName)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Events)
                                        {
                                            <tr>
                                                <td>
                                                    <a asp-controller="Events" asp-action="Details" asp-route-id="@item.EventId">@Html.DisplayFor(modelItem => item.EventDateTime)</a>
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Hall.HadllId)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Movie.MovieId)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Movie.MovieName)
                                                </td>
                                                <td>
                                                    <a class="btn btn-info" asp-controller="Events" asp-action="Edit" asp-route-id="@item.EventId">Edit</a> |
                                                    <a class="btn btn-info" asp-controller="Events" asp-action="Details" asp-route-id="@item.EventId">Details</a> |
                                                    <a class="btn btn-info" asp-controller="Events" asp-action="Delete" asp-route-id="@item.EventId">Delete</a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<a class="btn btn-primary btn-lg" asp-controller="Events" asp-action="Create">Add New Event</a> |
<a class="btn btn-primary btn-lg" asp-action="Edit" asp-route-id="@Model.MovieId">Edit</a> |
<a class="btn btn-primary btn-lg" asp-action="Delete" asp-route-id="@Model.MovieId">Delete</a> |
<a class="btn btn-primary btn-lg" asp-controller="Movies" asp-action="Index">Back</a>