@model IEnumerable<Cinema_Website.Models.Movie>

@{
    ViewData["Title"] = "Index";
}

<head>
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
</head>

<body>

    <!--
      - main container
    -->
    <div class="container">

        <!--
          - MAIN SECTION
        -->
        <main>

            <!--
              - #BANNER SECTION
            -->
            <section class="banner">
                <div class="banner-card">

                    <img src="~/images/Avengers.jpg" class="banner-img" alt="">

                    <div class="card-content">
                        <div class="card-info">

                            <div class="genre">
                                <ion-icon name="film"></ion-icon>
                                <span>Action/Thriller</span>
                            </div>

                            <div class="year">
                                <ion-icon name="calendar"></ion-icon>
                                <span>2019</span>
                            </div>

                            <div class="duration">
                                <ion-icon name="time"></ion-icon>
                                <span>2h 11m</span>
                            </div>

                            <div class="quality">4K</div>

                        </div>

                        <h2 class="card-title">Avengers</h2>
                    </div>

                </div>
            </section>





            <!--
              - #MOVIES SECTION
            -->
            <section class="movies">

                <!--
                  - filter bar
                -->
                <div class="filter-bar">
                    <div class="filter-radios">

                        <input type="radio" name="grade" id="featured" checked>
                        <label for="featured">Showing Now</label>

                        <input type="radio" name="grade" id="newest">
                        <label for="newest">Coming Soon</label>

                        <div class="checked-radio-bg"></div>

                    </div>

                </div>


                <!--
                  - movies grid
                -->
                <div class="banner">
                    <a asp-action="Create" class="btn btn-info">Create New</a>
                </div>

                <div class="movies-grid">
                    @foreach (var item in Model)
                    {

                        <form>
                            <button type="submit" asp-controller="Movies" asp-action="Details" asp-route-id="@item.MovieId">
                                <div class="movie-card">

                                    <div class="card-head">
                                        <img src="@item.MovieImage" />
                                    </div>

                                    <div class="card-body">
                                        <h3 class="card-title">@item.MovieName</h3>

                                        <div class="card-info">
                                            <span class="genre">@item.Generes</span>
                                            <span class="year">@item.ReleaseDate</span>
                                        </div>
                                    </div>
                                </div>
                            </button>
                        </form>




                    }
                </div>

            </section>

        </main>
        <hr />
        <!--
          - FOOTER SECTION
        -->
        <footer>

            <div class="footer-content">

                <div class="footer-brand">
                    <p class="slogan">
                        Book Your Favorite Movie To Watch NOW !
                    </p>

                    <div class="social-link">

                        <a href="#">
                            <ion-icon name="logo-facebook"></ion-icon>
                        </a>
                        <a href="#">
                            <ion-icon name="logo-twitter"></ion-icon>
                        </a>
                        <a href="#">
                            <ion-icon name="logo-instagram"></ion-icon>
                        </a>
                        <a href="#">
                            <ion-icon name="logo-tiktok"></ion-icon>
                        </a>
                        <a href="#">
                            <ion-icon name="logo-youtube"></ion-icon>
                        </a>

                    </div>
                </div>




            </div>

        </footer>

    </div>





    <!--
      - custom js link
    -->
    <script src="~/js/controller.js" asp-append-version="true"></script>

    <!--
      - ionicon link
    -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
