@model IEnumerable<Cinema_Website.Models.Movie>

@{
    ViewData["Title"] = "Index";
}

<head>
    <link rel="stylesheet" href="~/css/HomeStyleSheet.css" />
</head>

<body>
    <br />
    <!--
      - main container
    -->
    <div class="container">

        <!--
          - MAIN SECTION
        -->
        <main>

            <!--
              - #BANNER SECTION
            -->
            <section class="banner">
                <div class="banner-card">

                    <img src="~/images/Avengers.jpg" class="banner-img" alt="">

                    <div class="card-content">
                        <div class="card-info">

                            <div class="genre">
                                <ion-icon name="film"></ion-icon>
                                <span>Action/Thriller</span>
                            </div>

                            <div class="year">
                                <ion-icon name="calendar"></ion-icon>
                                <span>2019</span>
                            </div>

                            <div class="duration">
                                <ion-icon name="time"></ion-icon>
                                <span>2h 11m</span>
                            </div>


                        </div>

                        <h2 class="card-title">Avengers</h2>
                    </div>

                </div>
            </section>

            <!--
              - #MOVIES SECTION
            -->
            <section class="movies">

                <!--
                  - filter bar
                -->
                <div class="filter-bar" id="S">
                    <h1 >
                        Showing Now
                    </h1>
                    <div class="filter-radios">

                        <input type="radio" name="grade" id="featured">
                        <label for="featured"><a href="#S">Showing Now</a></label>

                        <input type="radio" name="grade" id="newest">
                        <label for="newest"><a href="#C">Coming Soon</a></label>



                    </div>

                </div>


                <!--
                  - movies grid
                -->
                @if (SignInManager.IsSignedIn(User))
                {
                    if (UserManager.GetUserAsync(User).Result.Email == "admin@gmail.com")
                    {
                        <div class="banner">
                            <a asp-action="Create" class="btn btn-primary">Add New Movie</a>
                        </div>
                    }
                }
            <div class="movies-grid">
                @foreach (var item in Model)
                {
                    if (((int)item.SH) == 0)
                    {


                        <form asp-controller="Movies" asp-action="Details" asp-route-id="@item.MovieId">
                            <button type="submit">
                                <div class="movie-card banner-card">

                                    <div class="card-head">
                                        <img src="@item.MovieImage" class="banner-img" />
                                    </div>

                                    <div class="card-title ">
                                        <h3 class="card-text btn btn-outline-primary">@item.MovieName</h3>

                                    </div>
                                </div>
                            </button>
                        </form>
                       

                    }

                }

            </div>

            </section>
            <section class="movies">

                <!--
                  - filter bar
                -->
                <div class="filter-bar" id="C">
                    <h1 >
                        Coming Soon
                    </h1>
                    <div class="filter-radios">

                        <input href="#S" type="radio" name="grade" id="featured">
                        <label for="featured"><a href="#S">Showing Now</a></label>

                        <input type="radio" name="grade" id="newest">
                        <label for="newest"><a href="#C">Coming Soon</a></label>


                    </div>


                </div>

                @if (SignInManager.IsSignedIn(User))
                {
                    if (UserManager.GetUserAsync(User).Result.Email == "admin@gmail.com")
                    {
                        <div class="banner">
                            <a asp-action="Create" class="btn btn-primary">Add New Movie</a>
                        </div>
                    }
                }
                <!--
                  - movies grid
                -->

                <div class="movies-grid">
                    @foreach (var item in Model)
                    {
                        if (((int)item.SH) == 1)
                        {


                            <form asp-controller="Movies" asp-action="Details" asp-route-id="@item.MovieId">
                                <button type="submit">
                                    <div class="movie-card banner-card">

                                        <div class="card-head">
                                            <img src="@item.MovieImage" class="banner-img"/>
                                        </div>

                                        <div class="card-body">
                                            <h3 class="card-title">@item.MovieName</h3>

                                        </div>
                                    </div>
                                </button>
                            </form>


                        }

                    }
                </div>

            </section>

        </main>
       

    </div>





    <!--
      - custom js link
    -->
    <script src="~/js/controller.js" asp-append-version="true"></script>

    <!--
      - ionicon link
    -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
